{{#partial "content"}}
    <form class="search" action="/search" method="post">
        <input type="text" class="searchTerm" placeholder="" name="query">
        <button type="submit" class="searchButton">
            <i class="fa fa-search"></i>
        </button>
    </form>
    <ul class="course-list">
        <li class="course-list-item">EN.601.226 Data Structures</li>
        <li class="course-list-item">EN.601.280 Full-Stack JavaScript</li>
        <li class="course-list-item">EN.601.421 Object-Oriented Software Engineering</li>
    </ul>
{{/partial}}

{{> base.hbs}}
